body{margin: 0;padding: 0;box-sizing: border-box;color: #000;font-family: 'Roboto', sans-serif;font-size: 16px;font-weight: normal;}
ul{list-style: outside none none;margin: 0;padding: 0;}
li{margin: 0;padding: 0;list-style: none;}
a, a:hover{ text-decoration: none;}
img{ margin: 0;padding: 0; max-width: 100%; height: auto;}
button{border:medium none;}

.container{width: 1200px; margin: 0 auto;position: relative;}
.top-header{background-color: #58585a;padding: 11px 0px;text-align: right;}
.list-one, .list-two{display: inline;color: #ffffff;font-family: Arial, sans-serif;font-size: 14px;font-weight: normal;text-align: left;}
.list-one li, .list-two li{display: inline-block; margin-right: 10px;}
.bottom-header{background-color: #ffffff;padding: 20px 0px;}
.hamburger-menu{ display: none;}
.logo{ display: inline-block;}
.logo img{}
.navmenu{text-align: right;}
.navmenu {display: inline-block;padding: 31px 0px;width: 1055px; vertical-align: top;}
.navmenu ul{display: inline-block;width: 921px;}
.navmenu ul li {display: inline-block;}
.navmenu ul li a{color: #58585a;font-family: Arial, sans-serif;font-size: 16px;font-weight: 700;padding: 10px;}
.btn-signup {background-color: #29abe2;color: #ffffff;font-family: inherit;font-size: 12px;font-weight: 700;text-align: center;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;padding: 5px;height: 30px; width:120px; margin-left: 10px;}
.bg-image{ background: transparent url(../images/banner.jpg) scroll no-repeat left top/ 100% 100%; height: 400px; width: 100%;}
